h4{
    margin: 0 auto;
    display: flex;
    color: blue;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
}
h1{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 139, 56);
    color: white;
}
#click{
    background-color: chocolate;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 40px;
    border-radius: 10px;
    margin: auto;
}
#load_airtime{
    outline: 0;
    background-color: coral;
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 0;
    border-radius: 5px;
    height: 40px;
}
#load{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 40px;
    border-radius: 10px;
    margin: auto;
    background-color: brown;
}